#Selamat datang di NumPy!
`NumPy` (Numerical Python) adalah pustaka Python sumber terbuka yang digunakan di hampir semua bidang sains dan
teknik. Ini adalah standar universal untuk bekerja dengan data numerik dengan Python, dan merupakan inti dari
ekosistem ilmiah Python dan PyData. Pengguna `NumPy` mencakup semua orang mulai dari pembuat kode pemula
hingga peneliti berpengalaman yang melakukan penelitian dan pengembangan ilmiah dan industri mutakhir. `NumPy` API
digunakan secara luas di Pandas, SciPy, Matplotlib, scikit-learn, scikit-image dan sebagian besar paket sains data dan
Python ilmiah lainnya.

#Menginstal NumPy
Untuk menginstal NumPy, kami sangat menyarankan menggunakan distribusi ilmiah Python. Jika Anda mencari petunjuk lengkap untuk menginstal `NumPy` di ​​sistem operasi Anda, lihat Menginstal `NumPy`.

Jika Anda sudah memiliki Python, Anda dapat menginstal `NumPy` dengan:

`conda instal numpy`

atau

`pip instal numpy`

Jika Anda belum memiliki Python, Anda mungkin ingin mempertimbangkan untuk menggunakan Anaconda. Ini adalah cara termudah untuk memulai. Hal yang baik tentang mendapatkan distribusi ini adalah kenyataan bahwa Anda tidak perlu terlalu khawatir tentang menginstal `NumPy` secara terpisah atau paket utama apa pun yang akan Anda gunakan untuk analisis data Anda, seperti pandas, Scikit-Learn, dll.

#Bagaimana cara mengimpor NumPy

Untuk mengakses `NumPy` dan fungsinya, imporlah dalam kode Python Anda seperti ini:

In [ ]:
import numpy as np


Kami mempersingkat nama yang diimpor menjadi np agar kode lebih mudah dibaca menggunakan ``NumPy``.

#Membaca kode contoh
Jika Anda belum terbiasa membaca tutorial yang berisi banyak kode, Anda mungkin tidak tahu cara menafsirkan blok kode yang terlihat seperti ini:

In [ ]:
a = np.arange(6)
print(a)
a2 = a[np.newaxis, :]
print(a2.shape)

Jika Anda belum familiar dengan gaya ini, sangat mudah untuk memahaminya. Jika Anda melihat >>>, berarti Anda sedang melihat input, atau kode yang akan Anda masukkan. Segala sesuatu yang tidak memiliki >>> di depannya adalah keluaran, atau hasil dari menjalankan kode Anda. Ini adalah gaya yang Anda lihat saat menjalankan python di baris perintah, tetapi jika Anda menggunakan IPython, Anda mungkin melihat gaya yang berbeda. Perhatikan bahwa ini bukan bagian dari kode dan akan menyebabkan kesalahan jika diketik atau ditempelkan ke shell Python. Itu dapat diketik atau ditempel dengan aman ke dalam shell IPython; >>> diabaikan.

#Apa perbedaan antara daftar Python dan array NumPy?
`NumPy` memberi Anda beragam cara cepat dan efisien untuk membuat array dan memanipulasi data numerik di dalamnya. Meskipun daftar Python dapat berisi tipe data berbeda dalam satu daftar, semua elemen dalam array `NumPy` harus homogen. Operasi matematika yang dimaksudkan untuk dilakukan pada array akan menjadi sangat tidak efisien jika array tidak homogen.

#Mengapa menggunakan NumPy?

Array `NumPy` lebih cepat dan lebih kompak daripada daftar Python. Sebuah array mengkonsumsi lebih sedikit memori dan nyaman digunakan. `NumPy` menggunakan lebih sedikit memori untuk menyimpan data dan menyediakan mekanisme untuk menentukan tipe data. Hal ini memungkinkan kode untuk dioptimalkan lebih jauh.

#Apa itu array?
Array adalah struktur data pusat perpustakaan `NumPy.` Array adalah kisi-kisi nilai dan berisi informasi tentang data mentah, cara menemukan lokasi elemen, dan cara menafsirkan elemen. Ini memiliki kisi elemen yang dapat diindeks dengan berbagai cara. Semua elemen memiliki tipe yang sama, disebut sebagai array dtype.

Sebuah array dapat diindeks dengan serangkaian bilangan bulat non-negatif, dengan boolean, dengan array lain, atau dengan bilangan bulat. Peringkat array adalah jumlah dimensi. Bentuk array adalah kumpulan bilangan bulat yang memberikan ukuran array di setiap dimensinya.

Salah satu cara kita menginisialisasi array `NumPy` adalah dari daftar Python, menggunakan daftar bersarang untuk data dua dimensi atau lebih tinggi.

Misalnya:

In [ ]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

Kita dapat mengakses elemen-elemen dalam array menggunakan tanda kurung siku. Saat Anda mengakses elemen, ingatlah bahwa pengindeksan di NumPy dimulai dari 0. Artinya, jika Anda ingin mengakses elemen pertama dalam array, Anda akan mengakses elemen “0”.

In [ ]:
print(a[0])

#Informasi lebih lanjut tentang array
Bagian ini mencakup *array 1D*, *array 2D*, *ndarray*, *vektor*, *matriks*

Anda mungkin kadang-kadang mendengar array yang disebut sebagai **“ndarray**,” yang merupakan singkatan dari **“array berdimensi-N.”** Array berdimensi N hanyalah sebuah array dengan jumlah dimensi berapa pun. Anda mungkin juga mendengar array 1-D, atau array satu dimensi, array 2-D, atau dua dimensi, dan seterusnya. Kelas NumPy ndarray digunakan untuk merepresentasikan matriks dan vektor. Vektor adalah larik berdimensi tunggal (tidak ada perbedaan antara vektor baris dan kolom), sedangkan matriks mengacu pada larik berdimensi dua. Untuk array 3D atau dimensi yang lebih tinggi, istilah tensor juga umum digunakan.

#Apa sajakah atribut dari array?

Array biasanya merupakan wadah berukuran tetap yang berisi item-item dengan tipe dan ukuran yang sama. Jumlah dimensi dan item dalam array ditentukan oleh bentuknya. Bentuk array adalah kumpulan bilangan bulat non-negatif yang menentukan ukuran setiap dimensi.

Di NumPy, dimensi disebut sumbu. Artinya jika Anda memiliki array 2D yang terlihat seperti ini:

In [ ]:
[[0., 0., 0.],
 [1., 1., 1.]]

Array Anda memiliki 2 sumbu. Sumbu pertama panjangnya 2 dan sumbu kedua panjangnya 3.

Sama seperti objek container Python lainnya, konten array dapat diakses dan dimodifikasi dengan mengindeks atau mengiris array. Berbeda dengan objek container pada umumnya, array yang berbeda dapat berbagi data yang sama, sehingga perubahan yang dilakukan pada satu array mungkin terlihat pada array lainnya.

Atribut array mencerminkan informasi intrinsik pada array itu sendiri. Jika Anda perlu mendapatkan, atau bahkan mengatur, properti array tanpa membuat array baru, Anda sering kali dapat mengakses array melalui atributnya.

#Cara membuat array dasar
Bagian ini mencakup *np.array()*, *np.zeros()*, *np.ones()*, *np.empty()*, *np.arange()*, *np.linspace()*, dtype

Untuk membuat array NumPy, Anda dapat menggunakan fungsi np.array().

Yang perlu Anda lakukan untuk membuat array sederhana adalah meneruskan daftar ke dalamnya. Jika Anda memilihnya, Anda juga dapat menentukan tipe data dalam daftar Anda. Anda dapat menemukan informasi selengkapnya tentang tipe data di sini.

In [ ]:
import numpy as np
a = np.array([1, 2, 3])

Selain membuat array dari rangkaian elemen, Anda dapat dengan mudah membuat array yang diisi dengan angka 0:

In [ ]:
np.zeros(2)

Atau array yang diisi dengan 1:

In [ ]:
np.ones(2)

Atau bahkan array kosong! Fungsi kosong membuat array yang konten awalnya acak dan bergantung pada keadaan memori. Alasan menggunakan kosong di atas nol (atau yang serupa) adalah kecepatan - pastikan untuk mengisi setiap elemen setelahnya!

In [ ]:
# Create an empty array with 2 elements
np.empty(2)

Anda dapat membuat array dengan berbagai elemen:

In [ ]:
np.arange(4)

Dan bahkan array yang berisi rentang interval yang berjarak sama. Untuk melakukan ini, Anda akan menentukan angka pertama, angka terakhir, dan ukuran langkah.

In [ ]:
np.arange(2, 9, 2)

Anda juga dapat menggunakan np.linspace() untuk membuat array dengan nilai yang diberi jarak linier dalam interval tertentu:

In [ ]:
np.linspace(0, 10, num=5)

#Menentukan tipe data Anda

Meskipun tipe data defaultnya adalah floating point (np.float64), Anda dapat secara eksplisit menentukan tipe data mana yang Anda inginkan menggunakan kata kunci dtype.

In [ ]:
x = np.ones(2, dtype=np.int64)
x

#Menambah, menghapus, dan mengurutkan elemen

Bagian ini mencakup `np.sort()`, `np.concatenate()`

Mengurutkan elemen itu mudah dengan `np.sort()`. Anda dapat menentukan sumbu, jenis, dan urutan saat memanggil fungsi.

Jika Anda memulai dengan array ini:

In [ ]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])

Anda dapat dengan cepat mengurutkan angka dalam urutan menaik dengan:

In [ ]:
np.sort(arr)

Selain mengurutkan, yang mengembalikan salinan array yang diurutkan, Anda dapat menggunakan:

* argsort, yang merupakan pengurutan tidak langsung sepanjang sumbu tertentu,

* lexsort, yang merupakan pengurutan stabil tidak langsung pada banyak kunci,

* searchsorted, yang akan menemukan elemen dalam array yang diurutkan, dan

* partisi, yang merupakan jenis parsial.

Untuk membaca lebih lanjut tentang pengurutan array, lihat: sortir.

Jika Anda memulai dengan array ini:

In [ ]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 7, 8])

Anda dapat menggabungkannya dengan `np.concatenate().`

In [ ]:
np.concatenate((a, b))

Atau, jika Anda memulai dengan array berikut:

In [ ]:
x = np.array([[1, 2], [3, 4]])
y = np.array([[5, 6]])

Anda dapat menggabungkannya dengan:

In [ ]:
np.concatenate((x, y), axis=0)

Untuk menghapus elemen dari array, cukup gunakan pengindeksan untuk memilih elemen yang ingin Anda pertahankan.

Untuk membaca selengkapnya tentang concatenate, lihat: concatenate.

#Bagaimana cara mengetahui bentuk dan ukuran array?
Bagian ini mencakup `ndarray.ndim`, `ndarray.size`, `ndarray.shape`

ndarray.ndim akan memberi tahu Anda jumlah sumbu, atau dimensi, dari array.

ndarray.size akan memberi tahu Anda jumlah total elemen array. Ini adalah produk dari elemen bentuk array.

ndarray.shape akan menampilkan tupel bilangan bulat yang menunjukkan jumlah elemen yang disimpan di setiap dimensi array. Jika, misalnya, Anda memiliki larik 2D dengan 2 baris dan 3 kolom, bentuk larik Anda adalah (2, 3).

Misalnya, jika Anda membuat array ini:

In [ ]:
array_example = np.array([[[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0 ,1 ,2, 3],
                           [4, 5, 6, 7]]])

Untuk mencari jumlah dimensi array, jalankan:

In [ ]:
array_example.ndim

Untuk menemukan jumlah total elemen dalam array, jalankan:

In [ ]:
array_example.size

Dan untuk menemukan bentuk array Anda, jalankan:

In [ ]:
array_example.shape

#Bisakah Anda membentuk ulang array?
Bagian ini mencakup `arr.reshape(`)

**Ya!**

Menggunakan `arr.reshape()` akan memberikan bentuk baru pada array tanpa mengubah datanya. Ingatlah bahwa ketika Anda menggunakan metode reshape, array yang ingin Anda hasilkan harus memiliki jumlah elemen yang sama dengan array aslinya. Jika Anda memulai dengan array dengan 12 elemen, Anda harus memastikan bahwa array baru Anda juga memiliki total 12 elemen.

Jika Anda memulai dengan array ini:

In [ ]:
a = np.arange(6)
print(a)

Anda dapat menggunakan `reshape()` untuk membentuk ulang array Anda. Misalnya, Anda bisa membentuk ulang larik ini menjadi larik dengan tiga baris dan dua kolom:

In [ ]:
b = a.reshape(3, 2)
print(b)

Dengan np.reshape, Anda dapat menentukan beberapa parameter opsional:

In [ ]:
np.reshape(a, newshape=(1, 6), order='C')

`a` adalah array yang akan dibentuk ulang.

`newshape` adalah bentuk baru yang Anda inginkan. Anda dapat menentukan bilangan bulat atau tupel bilangan bulat. Jika Anda menentukan bilangan bulat, hasilnya akan berupa array dengan panjang tersebut. Bentuknya harus sesuai dengan bentuk aslinya.

`urutan:C` berarti membaca/menulis elemen menggunakan urutan indeks mirip C, F berarti membaca/menulis elemen menggunakan urutan indeks mirip Fortran, A berarti membaca/menulis elemen dalam urutan indeks mirip Fortran jika a adalah Fortran bersebelahan dalam memori, urutan seperti C sebaliknya. (Ini adalah parameter opsional dan tidak perlu ditentukan.)

Jika Anda ingin mempelajari lebih lanjut tentang urutan C dan Fortran, Anda dapat membaca lebih lanjut tentang organisasi internal array NumPy di ​​sini. Pada dasarnya, perintah C dan Fortran berkaitan dengan bagaimana indeks sesuai dengan urutan penyimpanan array dalam memori. Di Fortran, ketika berpindah melalui elemen array dua dimensi seperti yang disimpan dalam memori, indeks pertama adalah indeks yang paling cepat berubah. Saat indeks pertama berpindah ke baris berikutnya seiring perubahannya, matriks disimpan satu kolom pada satu waktu. Inilah sebabnya mengapa Fortran dianggap sebagai bahasa Kolom-utama. Sebaliknya, di C, indeks terakhir berubah paling cepat. Matriks disimpan berdasarkan baris, menjadikannya **bahasa Row-mayor**. Apa yang Anda lakukan untuk C atau Fortran bergantung pada apakah lebih penting mempertahankan konvensi pengindeksan atau tidak menyusun ulang data.

#Cara mengubah array 1D menjadi array 2D (cara menambahkan sumbu baru ke array)
Bagian ini mencakup `np.newaxis`, `np.expand_dims`

Anda dapat menggunakan np.newaxis dan `np.expand_dims` untuk meningkatkan dimensi array yang ada.

Menggunakan np.newaxis akan menambah dimensi array Anda sebanyak satu dimensi bila digunakan sekali. Artinya array 1D akan menjadi array 2D, array 2D akan menjadi array 3D, dan seterusnya.

Misalnya, jika Anda memulai dengan array ini:

In [ ]:
a = np.array([1, 2, 3, 4, 5, 6])
a.shape

Anda dapat menggunakan `np.newaxis` untuk menambahkan sumbu baru:

In [ ]:
a2 = a[np.newaxis, :]
a2.shape

Anda dapat secara eksplisit mengonversi array 1D dengan vektor baris atau vektor kolom menggunakan np.newaxis. Misalnya, Anda dapat mengonversi array 1D menjadi vektor baris dengan menyisipkan sumbu di sepanjang dimensi pertama:

In [ ]:
row_vector = a[np.newaxis, :]
row_vector.shape

Atau, untuk vektor kolom, Anda bisa menyisipkan sumbu sepanjang dimensi kedua:

In [ ]:
col_vector = a[:, np.newaxis]
col_vector.shape

Anda juga dapat memperluas array dengan menyisipkan sumbu baru pada posisi tertentu dengan `np.expand_dims`.

Misalnya, jika Anda memulai dengan array ini:

In [ ]:
a = np.array([1, 2, 3, 4, 5, 6])
a.shape

Anda dapat menggunakan np.expand_dims untuk menambahkan sumbu pada posisi indeks 1 dengan:

In [ ]:
b = np.expand_dims(a, axis=1)
b.shape

Anda dapat menambahkan sumbu pada posisi indeks 0 dengan:

In [ ]:
c = np.expand_dims(a, axis=0)
c.shape

#Mengindeks dan mengiris
Anda dapat mengindeks dan mengiris array NumPy dengan cara yang sama seperti Anda mengiris daftar Python.

In [ ]:
data = np.array([1, 2, 3])
x1 = data[1]
print(x1)
x2 = data[0:2]
print(x2)
x3 = data[1:]
print(x3)
x4 = data[-2:]
print(x4)

Anda mungkin ingin mengambil bagian dari array Anda atau elemen array tertentu untuk digunakan dalam analisis lebih lanjut atau operasi tambahan. Untuk melakukannya, Anda perlu membuat subset, mengiris, dan/atau mengindeks array Anda.

Jika Anda ingin memilih nilai dari array yang memenuhi kondisi tertentu, caranya mudah dilakukan dengan NumPy.

Misalnya, jika Anda memulai dengan array ini:

In [ ]:
a = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

Anda dapat dengan mudah mencetak semua nilai dalam array yang kurang dari 5.

In [ ]:
print(a[a < 5])

Anda juga dapat memilih, misalnya, angka yang sama dengan atau lebih besar dari 5, dan menggunakan kondisi tersebut untuk mengindeks array.

In [ ]:
five_up = (a >= 5)
print(a[five_up])

Anda dapat memilih elemen yang habis dibagi 2:

In [ ]:
divisible_by_2 = a[a%2==0]
print(divisible_by_2)

Atau Anda dapat memilih elemen yang memenuhi dua kondisi menggunakan & dan | operator:

In [ ]:
c = a[(a > 2) & (a < 11)]
print(c)

Anda juga dapat menggunakan operator logika & dan | untuk mengembalikan nilai boolean yang menentukan apakah nilai dalam array memenuhi kondisi tertentu atau tidak. Ini bisa berguna dengan array yang berisi nama atau nilai kategorikal lainnya.

In [ ]:
five_up = (a > 5) | (a == 5)
print(five_up)

Anda juga dapat menggunakan `np.nonzero()` untuk memilih elemen atau indeks dari array.

Dimulai dengan array ini:

In [ ]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

Anda dapat menggunakan `np.nonzero()` untuk mencetak indeks elemen yang, misalnya, kurang dari 5:

In [ ]:
b = np.nonzero(a < 5) #mencetak indeks elemen yang kurang dari 5:
print(b)

Dalam contoh ini, sejumlah array dikembalikan: satu untuk setiap dimensi. Array pertama mewakili indeks baris tempat nilai-nilai ini ditemukan, dan array kedua mewakili indeks kolom tempat nilai-nilai tersebut ditemukan.

Jika Anda ingin membuat daftar koordinat tempat elemen berada, Anda dapat meng-zip array, mengulangi daftar koordinat, dan mencetaknya. Misalnya:

In [ ]:
list_of_coordinates= list(zip(b[0], b[1]))
for coord in list_of_coordinates:
    print(coord)

Anda juga dapat menggunakan `np.nonzero()` untuk mencetak elemen dalam array yang kurang dari 5 dengan:

In [ ]:
print(a[b])

Jika elemen yang Anda cari tidak ada dalam array, maka array indeks yang dikembalikan akan kosong. Misalnya:

In [ ]:
not_there = np.nonzero(a == 42)
print(not_there)

#Cara membuat array dari data yang ada
Bagian ini mencakup pemotongan dan pengindeksan, `np.vstack(), np.hstack(), np.hsplit(), .view(), copy()`

Anda dapat dengan mudah membuat array baru dari bagian array yang sudah ada.

Katakanlah Anda memiliki array ini:

In [ ]:
a = np.array([1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

Anda dapat membuat array baru dari suatu bagian array kapan saja dengan menentukan di mana Anda ingin mengiris array Anda.

In [ ]:
arr1 = a[3:8]
arr1

Di sini, Anda mengambil bagian array Anda dari posisi indeks 3 hingga posisi indeks 8.

Anda juga dapat menumpuk dua array yang ada, baik secara vertikal maupun horizontal. Katakanlah Anda memiliki dua array, a1 dan a2:

In [ ]:
a1 = np.array([[1, 1],
               [2, 2]])

a2 = np.array([[3, 3],
               [4, 4]])

Anda dapat menumpuknya secara vertikal dengan vstack:

In [ ]:
np.vstack((a1, a2))

Atau susun secara horizontal dengan hstack:

In [ ]:
np.hstack((a1, a2))

Anda dapat membagi array menjadi beberapa array yang lebih kecil menggunakan hsplit. Anda dapat menentukan jumlah array berbentuk sama yang akan dikembalikan atau kolom setelah pembagian harus dilakukan.

Katakanlah Anda memiliki array ini:

In [ ]:
x = np.arange(1, 25).reshape(2, 12)
x

Jika Anda ingin membagi array ini menjadi tiga array yang bentuknya sama, jalankan:

In [ ]:
np.hsplit(x, 3)

Jika Anda ingin membagi array setelah kolom ketiga dan keempat, jalankan:

In [ ]:
np.hsplit(x, (3, 4))

Anda dapat menggunakan metode view untuk membuat objek array baru yang terlihat pada data yang sama dengan array asli (salinan dangkal).

Tampilan adalah konsep NumPy yang penting! Fungsi NumPy, serta operasi seperti pengindeksan dan pemotongan, akan mengembalikan tampilan bila memungkinkan. Ini menghemat memori dan lebih cepat (tidak perlu membuat salinan data). Namun penting untuk menyadari hal ini - mengubah data dalam tampilan juga mengubah array asli!

Katakanlah Anda membuat array ini:

In [ ]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

Sekarang kita membuat array b1 dengan mengiris a dan memodifikasi elemen pertama b1. Ini juga akan mengubah elemen terkait di a!

In [ ]:
b5 = a[0, :]
print(b5)
b5[0] = 99
print(b5)
a

Menggunakan metode copy akan membuat salinan lengkap dari array dan datanya (salinan dalam). Untuk menggunakan ini pada array Anda, Anda dapat menjalankan:

In [ ]:
b2 = a.copy()
print(b2)

#Operasi array dasar
*Bagian ini mencakup penjumlahan, pengurangan, perkalian, pembagian, dan lainnya*![np_MSE_formula.png]()

Setelah Anda membuat array, Anda dapat mulai mengerjakannya. Katakanlah, misalnya, Anda telah membuat dua array, satu disebut “data” dan satu lagi disebut “satuan”

Anda dapat menambahkan array bersama dengan tanda tambah.

In [ ]:
data = np.array([1, 2])
ones = np.ones(2, dtype=int)
b7 = data + ones
print(b7)

Tentu saja, Anda dapat melakukan lebih dari sekadar penambahan!

In [ ]:
b8 =data - ones
print(b8)
b9 =data * data
print(b9)
c1 = data / data
print(c1)

Pengoperasian dasar sederhana dengan `NumPy`. Jika Anda ingin mencari jumlah elemen dalam array, Anda akan menggunakan **sum()**. Ini berfungsi untuk array 1D, array 2D, dan array dalam dimensi yang lebih tinggi.

In [ ]:
a = np.array([1, 2, 3, 4])
print(a.sum())

Untuk menambahkan baris atau kolom dalam array 2D, Anda harus menentukan sumbunya.

Jika Anda memulai dengan array ini:

In [ ]:
b = np.array([[1, 1], [2, 2]])

Anda dapat menjumlahkan sumbu baris dengan:

In [ ]:
c2 = b.sum(axis=0)
print(c2)

Anda dapat menjumlahkan sumbu kolom dengan:

In [ ]:
c3 = b.sum(axis=1)
print(c3)

#Penyiaran
Ada kalanya Anda mungkin ingin melakukan operasi antara array dan satu bilangan (disebut juga operasi antara vektor dan skalar) atau antara array dengan dua ukuran berbeda. Misalnya, array Anda (kami menyebutnya “data”) mungkin berisi informasi tentang jarak dalam mil, tetapi Anda ingin mengonversi informasi tersebut menjadi kilometer. Anda dapat melakukan operasi ini dengan:

In [ ]:
data = np.array([1.0, 2.0])
print(data * 1.6)

`NumPy` memahami bahwa perkalian harus terjadi pada setiap sel. Konsep itu disebut penyiaran. Penyiaran adalah mekanisme yang memungkinkan NumPy melakukan operasi pada array dengan bentuk berbeda. Dimensi array Anda harus sesuai, misalnya dimensi kedua array sama atau salah satunya 1. Jika dimensi tidak kompatibel, Anda akan mendapatkan ValueError.

#Operasi array yang lebih berguna
Bagian ini mencakup *maksimum, minimum, jumlah, mean, produk, deviasi standar, dan banyak lagi*

`NumPy` juga melakukan fungsi agregasi. Selain min, max, dan sum, Anda dapat dengan mudah menjalankan mean untuk mendapatkan rata-rata, prod untuk mendapatkan hasil perkalian elemen, std untuk mendapatkan standar deviasi, dan banyak lagi.

In [ ]:
c4 = data.max()
print(c4)
c5 = data.min()
print(c5)
c6 = data.sum()
print(c6)

Mari kita mulai dengan array ini, yang disebut “a”

In [ ]:
a = np.array([[0.45053314, 0.17296777, 0.34376245, 0.5510652],
              [0.54627315, 0.05093587, 0.40067661, 0.55645993],
              [0.12697628, 0.82485143, 0.26590556, 0.56917101]])

Sangat umum untuk ingin menggabungkan sepanjang baris atau kolom. Secara default, setiap fungsi agregasi NumPy akan mengembalikan agregat seluruh array. Untuk menemukan jumlah atau jumlah minimum elemen dalam array Anda, jalankan:

In [ ]:
c7 = a.sum()
print(c7)

Atau:

In [ ]:
c8 = a.min()
print(c8)

Anda dapat menentukan pada sumbu mana Anda ingin fungsi agregasi dihitung. Misalnya, Anda dapat menemukan nilai minimum dalam setiap kolom dengan menentukan sumbu=0.

In [ ]:
c9 = a.min(axis=0)
print(c9)

Keempat nilai yang tercantum di atas sesuai dengan jumlah kolom dalam array Anda. Dengan array empat kolom, Anda akan mendapatkan empat nilai sebagai hasilnya.

#Membuat matriks
Anda dapat meneruskan daftar daftar Python untuk membuat array 2-D (atau "matriks") untuk mewakilinya di NumPy.

In [ ]:
data_1 = np.array([[1, 2], [3, 4], [5, 6]])
prin(data_1)

Operasi pengindeksan dan pemotongan berguna saat Anda memanipulasi matriks:

In [ ]:
print(data_1[0, 1])
print(data_1[1:3])
print(data_1[0:2, 0])

Anda dapat mengagregasi matriks dengan cara yang sama seperti Anda mengagregasi vektor:

In [ ]:
print(data_1.min)
print(data_1.max)
print(data_1.sum)

Anda dapat menggabungkan semua nilai dalam matriks dan menggabungkannya di seluruh kolom atau baris menggunakan parameter sumbu. Untuk mengilustrasikan hal ini, mari kita lihat kumpulan data yang sedikit dimodifikasi:

In [ ]:
data_2 = np.array([[1, 2], [5, 3], [4, 6]])
print(data_2)
print(data_2.max(axis=0))
print(data_2.max(axis=1))

Setelah Anda membuat matriks, Anda dapat menjumlahkan dan mengalikannya menggunakan operator aritmatika jika Anda memiliki dua matriks yang berukuran sama.

In [ ]:
data_3 = np.array([[1, 2], [3, 4]])
ones = np.array([[1, 1], [1, 1]])
print(data_3 + ones)

Anda dapat melakukan operasi aritmatika ini pada matriks dengan ukuran berbeda, tetapi hanya jika satu matriks hanya memiliki satu kolom atau satu baris. Dalam hal ini, NumPy akan menggunakan aturan siarannya untuk operasi tersebut.

In [ ]:
data_4 = np.array([[1, 2], [3, 4], [5, 6]])
ones_row = np.array([[1, 1]])
print(data_4 + ones_row)

Perlu diketahui bahwa saat NumPy mencetak array berdimensi N, sumbu terakhir dilingkarkan pada sumbu tercepat sedangkan sumbu pertama adalah sumbu paling lambat. Contohnya:

In [ ]:
print(np.ones((4, 3, 2)))

Sering kali kita ingin NumPy menginisialisasi nilai array. NumPy menawarkan fungsi seperti `ones()` dan `zeros()`, dan kelas random.Generator untuk menghasilkan angka acak untuk itu. Yang perlu Anda lakukan hanyalah memasukkan jumlah elemen yang ingin Anda hasilkan:

In [ ]:
print(np.ones(3))
print(np.zeros(3))
rng = np.random.default_rng()  # the simplest way to generate random numbers
print(rng.random(3))

Anda juga dapat menggunakan `one()`, `zeros()`, dan `random()` untuk membuat array 2D jika Anda memberinya tupel yang menjelaskan dimensi matriks:

In [ ]:
print(np.ones((3, 2)))
print(np.zeros((3, 2)))
print(rng.random((3, 2)))

#Menghasilkan angka acak
Penggunaan pembangkitan angka acak merupakan bagian penting dari konfigurasi dan evaluasi banyak algoritma numerik dan pembelajaran mesin. Baik Anda perlu menginisialisasi bobot secara acak dalam jaringan saraf tiruan, membagi data menjadi kumpulan acak, atau mengacak kumpulan data secara acak, kemampuan untuk menghasilkan angka acak (sebenarnya, angka acak semu yang dapat diulang) sangatlah penting.

Dengan Generator.integers, Anda dapat menghasilkan bilangan bulat acak dari rendah (ingat bahwa ini inklusif dengan NumPy) hingga tinggi (eksklusif). Anda dapat mengatur endpoint=True untuk menjadikan angka tinggi inklusif.

Anda dapat menghasilkan array bilangan bulat acak berukuran 2 x 4 antara 0 dan 4 dengan:

In [ ]:
rng.integers(5, size=(2, 4))

#Cara mendapatkan item unik dan terhitung
Bagian ini mencakup `np.unique()`

Anda dapat menemukan elemen unik dalam array dengan mudah menggunakan np.unique.

Misalnya, jika Anda memulai dengan array ini:

In [ ]:
a10 = np.array([11, 11, 12, 13, 14, 15, 16, 17, 12, 13, 11, 14, 18, 19, 20])

Anda dapat menggunakan `np.unique` untuk mencetak nilai unik dalam array Anda:

In [ ]:
unique_values = np.unique(a10)
print(unique_values)

Untuk mendapatkan indeks nilai unik dalam array NumPy (array dengan posisi indeks pertama dari nilai unik dalam array), cukup teruskan argumen return_index di np.unique() serta array Anda.

In [ ]:
unique_values, indices_list = np.unique(a10, return_index=True)
print(indices_list

Anda dapat meneruskan argumen return_counts di np.unique() bersama dengan array Anda untuk mendapatkan jumlah frekuensi nilai unik dalam array NumPy.

In [ ]:
unique_values, occurrence_count = np.unique(a10, return_counts=True)
print(occurrence_count)

Ini juga berfungsi dengan array 2D! Jika Anda memulai dengan array ini:

In [ ]:
a_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [1, 2, 3, 4]])

Anda dapat menemukan nilai unik dengan:

In [ ]:
unique_values = np.unique(a_2d)
print(unique_values)

Jika argumen sumbu tidak lolos, array 2D Anda akan diratakan.

Jika Anda ingin mendapatkan baris atau kolom unik, pastikan untuk meneruskan argumen sumbu. Untuk menemukan baris unik, tentukan sumbu=0 dan untuk kolom, tentukan sumbu=1.

In [ ]:
unique_rows = np.unique(a_2d, axis=0)
print(unique_rows)

Untuk mendapatkan baris unik, posisi indeks, dan jumlah kemunculan, Anda dapat menggunakan:

In [ ]:
unique_rows, indices, occurrence_count = np.unique(
     a_2d, axis=0, return_counts=True, return_index=True)
print(unique_rows)
print(indices)
print(occurrence_count)

#Mengubah urutan dan membentuk kembali matriks
Bagian ini mencakup `arr.reshape()`, `arr.transpose()`, `arr.T`

Merupakan hal yang umum untuk mengubah urutan matriks Anda. Array NumPy memiliki properti T yang memungkinkan Anda mengubah urutan matriks.

Anda mungkin juga perlu mengganti dimensi matriks. Hal ini dapat terjadi ketika, misalnya, Anda memiliki model yang mengharapkan bentuk masukan tertentu yang berbeda dari kumpulan data Anda. Di sinilah metode pembentukan kembali dapat berguna. Anda hanya perlu memasukkan dimensi baru yang Anda inginkan untuk matriks tersebut.

In [ ]:
data.reshape(2, 3)
data.reshape(3, 2)

Anda juga dapat menggunakan `.transpose()` untuk membalikkan atau mengubah sumbu array sesuai dengan nilai yang Anda tentukan.

Jika Anda memulai dengan array ini:

In [ ]:
arr = np.arange(6).reshape((2, 3))
print(arr)

Anda dapat mengubah urutan array Anda dengan `arr.transpose().`

In [ ]:
print(arr.transpose())

Anda juga dapat menggunakan `arr.T:`

In [ ]:
print(arr.T)

#Cara membalikkan array
Bagian ini mencakup `np.flip()`

Fungsi `np.flip()` NumPy memungkinkan Anda membalik, atau membalikkan, konten array sepanjang sumbu. Saat menggunakan `np.flip()`, tentukan array yang ingin Anda balikkan dan sumbunya. Jika Anda tidak menentukan sumbunya, NumPy akan membalikkan konten di sepanjang sumbu array masukan Anda.

#Membalikkan array 1D

Jika Anda memulai dengan array 1D seperti ini:

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

Anda dapat membalikkannya dengan:

In [ ]:
reversed_arr = np.flip(arr)

Jika Anda ingin mencetak array terbalik, Anda dapat menjalankan:

In [ ]:
print('Reversed Array: ', reversed_arr)

#Membalikkan array 2D

Array 2D bekerja dengan cara yang hampir sama.

Jika Anda memulai dengan array ini:

In [ ]:
arr_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

Anda dapat membalikkan konten di semua baris dan kolom dengan:

In [ ]:
reversed_arr = np.flip(arr_2d)
print(reversed_arr)

Anda dapat dengan mudah membalikkan baris saja dengan:

In [ ]:
reversed_arr_rows = np.flip(arr_2d, axis=0)
print(reversed_arr_rows)

Atau balikkan hanya kolom dengan

In [ ]:
reversed_arr_columns = np.flip(arr_2d, axis=1)
print(reversed_arr_columns)

Anda juga dapat membalik isi satu kolom atau baris saja. Misalnya, Anda dapat membalik isi baris pada posisi indeks 1 (baris kedua):

In [ ]:
arr_2d[1] = np.flip(arr_2d[1])
print(arr_2d)

Anda juga dapat membalikkan kolom pada posisi indeks 1 (kolom kedua):

In [ ]:
arr_2d[:,1] = np.flip(arr_2d[:,1])
print(arr_2d)

#Membentuk kembali dan meratakan array multidimensi
Bagian ini mencakup `.flatten()`, `ravel()`

Ada dua cara populer untuk meratakan array: `.flatten()` dan `.ravel()`. Perbedaan utama antara keduanya adalah bahwa array baru yang dibuat menggunakan `ravel()` sebenarnya adalah referensi ke array induk (yaitu, “tampilan”). Artinya, setiap perubahan pada array baru akan mempengaruhi array induknya juga. Karena `ravel` tidak membuat salinan, ini hemat memori.

Jika Anda memulai dengan array ini:

In [ ]:
x = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

Anda dapat menggunakan flatten untuk meratakan array Anda menjadi array 1D.

In [ ]:
x.flatten()

Saat Anda menggunakan flatten, perubahan pada array baru Anda tidak akan mengubah array induk.

Misalnya:

In [ ]:
a1 = x.flatten()
a1[0] = 99
print(x)
print(a1)

Namun saat Anda menggunakan ravel, perubahan yang Anda buat pada array baru akan memengaruhi array induk.

Misalnya:

In [ ]:
a2 = x.ravel()
a2[0] = 98
print(x)
print(a2)

#Cara mengakses docstring untuk informasi lebih lanjut
*Bagian ini mencakup `help(), ?, ??`*

Jika berbicara tentang ekosistem ilmu data, Python dan NumPy dibuat dengan mempertimbangkan pengguna. Salah satu contoh terbaiknya adalah akses bawaan ke dokumentasi. Setiap objek berisi referensi ke sebuah string, yang dikenal sebagai `docstring`. Dalam kebanyakan kasus, `docstring` ini berisi ringkasan cepat dan ringkas tentang objek dan cara menggunakannya. Python memiliki fungsi `help()` bawaan yang dapat membantu Anda mengakses informasi ini. Artinya, hampir kapan pun Anda membutuhkan informasi lebih lanjut, Anda dapat menggunakan `help()` untuk menemukan informasi yang Anda perlukan dengan cepat.

Misalnya:

In [ ]:
help(max)

Karena akses ke informasi tambahan sangat berguna, IPython menggunakan ? karakter sebagai singkatan untuk mengakses dokumentasi ini beserta informasi relevan lainnya. IPython adalah shell perintah untuk komputasi interaktif dalam berbagai bahasa. Anda dapat menemukan informasi lebih lanjut tentang IPython di sini.

Misalnya:

In [ ]:
in[0]: max?

Anda bahkan dapat menggunakan notasi ini untuk metode objek dan objek itu sendiri.

Katakanlah Anda membuat array ini:

In [ ]:
a = np.array([1, 2, 3, 4, 5, 6])

Kemudian Anda dapat memperoleh banyak informasi berguna (detail pertama tentang a itu sendiri, diikuti oleh `docstring dari` `ndarray` yang mana `a` merupakan contohnya):

In [ ]:
in[1]: a?

Ini juga berfungsi untuk fungsi dan objek lain yang Anda buat. Ingatlah untuk menyertakan docstring dengan fungsi Anda menggunakan string literal (""" """ or ''' ''' di sekitar dokumentasi Anda).

Misalnya, jika Anda membuat fungsi ini:

In [ ]:
def double(a):
  '''Return a * 2'''
  return a * 2

Anda dapat memperoleh informasi tentang fungsi:

In [ ]:
int[2]: double?

Anda dapat mencapai tingkat informasi lain dengan membaca kode sumber objek yang Anda minati. Menggunakan tanda tanya ganda (??) memungkinkan Anda mengakses kode sumber.

Misalnya:

In [ ]:
int[3]: double??

Jika objek yang dimaksud dikompilasi dalam bahasa selain Python, gunakan ?? akan mengembalikan informasi yang sama seperti ?. Anda akan menemukannya dengan banyak objek dan tipe bawaan, misalnya:

In [ ]:
int[4]: len?

dan

In [ ]:
int[5]: len??

memiliki keluaran yang sama karena dikompilasi dalam bahasa pemrograman selain Python.

#Bekerja dengan rumus matematika
Kemudahan penerapan rumus matematika yang bekerja pada array menjadi salah satu hal yang membuat NumPy begitu banyak digunakan dalam komunitas ilmiah Python.

Misalnya, ini adalah rumus kesalahan kuadrat rata-rata (rumus utama yang digunakan dalam model pembelajaran mesin terawasi yang menangani regresi):

Menerapkan rumus ini sederhana dan mudah di NumPy:

In [ ]:
error = (1/n) * np.sum(np.square(predictions - labels))

#Bagaimana cara menyimpan dan memuat objek NumPy
Bagian ini mencakup `np.save, np.savez, np.savetxt, np.load, np.loadtxt`

Pada titik tertentu, Anda ingin menyimpan array ke disk dan memuatnya kembali tanpa harus menjalankan ulang kodenya. Untungnya, ada beberapa cara untuk menyimpan dan memuat objek dengan NumPy. Objek ndarray dapat disimpan dan dimuat dari file disk dengan fungsi `loadtxt` dan `savetxt` yang menangani file teks normal, fungsi muat dan simpan yang menangani file biner NumPy dengan ekstensi file **.npy**, dan fungsi savez yang menangani file NumPy dengan file Ekstensi file **.npz**.

File **.npy** dan **.npz** menyimpan data, bentuk, tipe d, dan informasi lain yang diperlukan untuk merekonstruksi ndarray sedemikian rupa sehingga memungkinkan array diambil dengan benar, bahkan ketika file berada di komputer lain dengan arsitektur berbeda.

Jika Anda ingin menyimpan satu objek ndarray, simpanlah sebagai file .npy menggunakan `np.save`. Jika Anda ingin menyimpan lebih dari satu objek ndarray dalam satu file, simpan sebagai file .npz menggunakan `np.savez`. Anda juga dapat menyimpan beberapa array ke dalam satu file dalam format npz terkompresi dengan `savez_compressed.`

Sangat mudah untuk menyimpan, memuat, dan menyusun dengan `np.save()`. Pastikan untuk menentukan array yang ingin Anda simpan dan nama file. Misalnya, jika Anda membuat array ini:

In [ ]:
a = np.array([1, 2, 3, 4, 5, 6])

Anda dapat menyimpannya sebagai "nama file.npy" dengan:

In [ ]:
np.save('filename', a)

Anda dapat menggunakan `np.load()` untuk merekonstruksi array Anda.

In [ ]:
b = np.load('filename.npy')

Jika Anda ingin memeriksa array Anda, Anda dapat menjalankan:

In [ ]:
print(b)

Anda dapat menyimpan array NumPy sebagai file teks biasa seperti file **.csv** atau **.txt** dengan `np.savetxt`.

In [ ]:
csv_arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])

Anda dapat dengan mudah menyimpannya sebagai file .csv dengan nama “new_file.csv” seperti ini:

In [ ]:
np.savetxt('new_file.csv', csv_arr)

Anda dapat dengan cepat dan mudah memuat file teks yang disimpan menggunakan `loadtxt()`:

In [ ]:
np.loadtxt('new_file.csv')

Fungsi `savetxt()` dan `loadtxt()` menerima parameter opsional tambahan seperti header, footer, dan pembatas. Meskipun file teks lebih mudah untuk dibagikan, file .npy dan .npz lebih kecil dan lebih cepat dibaca. Jika Anda memerlukan penanganan yang lebih canggih terhadap file teks Anda (misalnya, jika Anda perlu bekerja dengan baris yang berisi nilai yang hilang), Anda dapat menggunakan fungsi `genfromtxt`.

Dengan savetxt, Anda dapat menentukan header, footer, komentar, dan lainnya.

#Mengimpor dan mengekspor CSV
Sangat mudah untuk membaca di CSV yang berisi informasi yang ada. Cara terbaik dan termudah untuk melakukan ini adalah dengan menggunakan Pandas.

In [ ]:
# Jika semua kolom Anda bertipe sama:
x = pd.read_csv('music.csv', header=0).values #erorr
print(x)
# Anda juga dapat memilih kolom yang Anda perlukan:
x = pd.read_csv('music.csv', usecols=['Artist', 'Plays']).values #erorr
print(x)

Sangat mudah untuk menggunakan Pandas untuk mengekspor array Anda juga. Jika Anda baru mengenal NumPy, Anda mungkin ingin membuat kerangka data Pandas dari nilai dalam array Anda dan kemudian menulis bingkai data ke file CSV dengan Pandas.

Jika Anda membuat array ini "a"

In [ ]:
a = np.array([[-2.58289208,  0.43014843, -1.24082018, 1.59572603],
              [ 0.99027828, 1.17150989,  0.94125714, -0.14692469],
              [ 0.76989341,  0.81299683, -0.95068423, 0.11769564],
              [ 0.20484034,  0.34784527,  1.96979195, 0.51992837]])

Anda dapat membuat kerangka data Pandas

In [ ]:
df = pd.DataFrame(a)
print(df)

Anda dapat dengan mudah menyimpan kerangka data Anda dengan:

In [ ]:
df.to_csv('pd.csv')

Dan baca CSV Anda dengan:

In [ ]:
data = pd.read_csv('pd.csv')

Anda juga dapat menyimpan array Anda dengan metode NumPy `savetxt`.

In [ ]:
np.savetxt('np.csv', a, fmt='%.2f', delimiter=',', header='1,  2,  3,  4')

Jika Anda menggunakan baris perintah, Anda dapat membaca CSV yang disimpan kapan saja dengan perintah seperti:

In [ ]:
$ cat np.csv
#  1,  2,  3,  4
-2.58,0.43,-1.24,1.60
0.99,1.17,0.94,-0.15
0.77,0.81,-0.95,0.12
0.20,0.35,1.97,0.52

#Merencanakan array dengan Matplotlib
Jika Anda perlu membuat plot untuk nilai-nilai Anda, itu sangat sederhana dengan `Matplotlib`.

Misalnya, Anda mungkin memiliki array seperti ini:

In [ ]:
a = np.array([2, 1, 5, 7, 4, 6, 8, 14, 10, 9, 18, 20, 22])

Jika Anda sudah menginstal Matplotlib, Anda dapat mengimpornya dengan:

In [ ]:
impor matplotlib.pyplot sebagai plt

# Jika Anda menggunakan Jupyter Notebook, Anda mungkin juga ingin menjalankan yang berikut ini
# baris kode untuk menampilkan kode Anda di buku catatan:

%matplotlib sebaris

Yang perlu Anda lakukan untuk memplot nilai-nilai Anda adalah menjalankan:

In [ ]:
plt.plot(a)

# If you are running from a command line, you may need to do this:
# >>> plt.show()

Misalnya, Anda dapat memplot array 1D seperti ini:

In [ ]:
x = np.linspace(0, 5, 20)
y = np.linspace(0, 10, 20)
plt.plot(x, y, 'purple') # baris
plt.plot(x, y, 'o')      # titik

Dengan Matplotlib, Anda memiliki akses ke sejumlah besar opsi visualisasi.

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(projection='3d')
X = np.arange(-5, 5, 0.15)
Y = np.arange(-5, 5, 0.15)
X, Y = np.meshgrid(X, Y)
R = np.sqrt(X**2 + Y**2)
Z = np.sin(R)

ax.plot_surface(X, Y, Z, rstride=1, cstride=1, cmap='viridis')

Untuk membaca lebih lanjut tentang Matplotlib dan apa yang dapat dilakukannya, lihat dokumentasi resminya. Untuk petunjuk mengenai instalasi Matplotlib, lihat bagian instalasi resmi.